.calculator-inputs {
  margin-top: 20px;
  display: flex;
}

.calculator-number-inputs {
  width: 70%;
}

.calculator-operator-inputs {
  width: 30%;
}

.calculator-number-input, .calculator-operator-input {
  font-size: 24px;
  margin-bottom: 5px;
  height: 50px;
  border: 1px solid #cacaca;
  border-radius: 10px;
  background-color: #151515;
  color: #cacaca;
  cursor: pointer;
}

.calculator-number-input:hover, .calculator-operator-input:hover {
  border: 1px solid #ffffff;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}

.calculator-number-input {
  margin-right: 5px;
  width: 135px;
}

.calculator-operator-input {
  margin-left: 5px;
  width: 85px;
}

.calculator-number-0-input {
  width: 275px;
}

.calculator-clear-input, .calculator-equal-input {
  width: 175px;
}
